@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik+Distressed&family=Ubuntu:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #1f5768;
    margin: 0;
    color: white;
    text-align: center;
    min-width: 600px;
}

menu {
    display: flex;
    padding: 10px;
    border: 1px solid white;
    font-size: 24px;
    font-family: "Rubik Distressed", cursive;
    margin-top: 15px;
}

menu details {
    margin-top: -4px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    background: rgb(255, 255, 255);
    width: 150px;
    color: #fff;
}

menu details summary {
    background: #285675;
    border: 3px solid white;
    width: 150px;
}

menu details a {
    text-decoration: none;
    color: #93d078;
}

menu details a:hover {
    text-decoration: none;
    color: #0a5f42;
}

/* Стилі рівнів за допомогою псевдоселекторів та інших крутих комбінаторів */
/* Загальні стилі */
.plant {
    width: 150px;
    height: 150px;
    margin: 0 8px 0 8px;
}

.frog {
    height: 100px;
    width: 100px;
    margin: 35px 25px 20px 40px;
}

/* стилі рівнів*/
/* 1 рівень */
.plants:nth-of-type(1) {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(2) {
    padding: 25px;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 2 рівень */
.plants:nth-of-type(3) {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(4) {
    justify-content: center;
    padding: 25px;
    display: flex;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 3 рівень */
.plants:nth-of-type(5) {
    display: flex;
    justify-content: space-around;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(6) {
    justify-content: space-around;
    padding: 25px;
    display: flex;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 4 рівень */
.plants:nth-of-type(7) {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(8) {
    justify-content: space-between;
    padding: 25px;
    display: flex;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 5 рівень */
.plants:nth-of-type(9) {
    display: flex;
    align-items: flex-end;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(10) {
    align-items: flex-end;
    padding: 25px;
    display: flex;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 6 рівень */
.plants:nth-of-type(11) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(12) {
    align-items: center;
    justify-content: center;
    padding: 25px;
    display: flex;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 7 рівень */
.plants:nth-of-type(13) {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(14) {
    align-items: flex-end;
    justify-content: space-around;
    padding: 25px;
    display: flex;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 8 рівень */
.plants:nth-of-type(15) {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(16) {
    flex-direction: row-reverse;
    padding: 25px;
    display: flex;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 9 рівень */
.plants:nth-of-type(17) {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(18) {
    flex-direction: column;
    padding: 25px;
    display: flex;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 10 рівень */
.plants:nth-of-type(19) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(20) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 25px;
    display: flex;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 11 рівень */
.plants:nth-of-type(21) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(22) {
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px;
    display: flex;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 12 рівень */
.plants:nth-of-type(23) {
    flex-direction: column-reverse;
    justify-content: space-between;
    display: flex;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(24) {
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 25px;
    display: flex;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 13 рівень */
.plants:nth-of-type(25) {
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
    display: flex;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(26) {
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
    padding: 25px;
    display: flex;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 14 рівень */
.plants:nth-of-type(27) {
    order: 1;
    display: flex;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(28) {
    order: 1;
    padding: 25px;
    display: flex;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 15 рівень */
.plants:nth-of-type(29) {
    order: -3;
    display: flex;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(30) {
    order: -3;
    padding: 25px;
    display: flex;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 16 рівень */
.plants:nth-of-type(29) {
    display: flex;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(30) {
    display: flex;
    padding: 25px;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

.greenone {
    display: flex;
    align-self: flex-end;
}

/* 17 рівень */
.plants:nth-of-type(31) {
    display: flex;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(32) {
    display: flex;
    padding: 25px;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

.greentwo {
    display: flex;
    order: 2;
    align-self: flex-end;
}

/* 18 рівень */
.plants:nth-of-type(33) {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(34) {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    margin-bottom: 50px;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 19 рівень */
.plants:nth-of-type(35) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(36) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 20 рівень */
.plants:nth-of-type(37) {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(38) {
    display: flex;
    flex-flow: column wrap;
    padding: 25px;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 21 рівень */
.plants:nth-of-type(39) {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(40) {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 25px;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 22 рівень */
.plants:nth-of-type(41) {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(42) {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 25px;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 23 рівень */
.plants:nth-of-type(43) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(44) {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    flex-wrap: wrap;
    padding: 25px;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

/* 24 рівень */
.plants:nth-of-type(45) {
    display: flex;
    justify-content: center;
    flex-flow: column-reverse wrap-reverse;
    align-content: space-between;
    position: absolute;
    height: 100vh;
    /* viewport height */
    background: #1f5768;
    z-index: -1;
    width: 100%;
    min-width: 600px;
    padding: 25px;
}

.frogs:nth-of-type(46) {
    display: flex;
    justify-content: center;
    flex-flow: column-reverse wrap-reverse;
    align-content: space-between;
    padding: 25px;
    height: 100vh;
    /* viewport height */
    min-width: 600px;
}

.did {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-family: "Rubik Distressed", cursive;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.did img {
    width: 500px;
}